<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/registerForm.css">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form class="register-form" action="" method="POST">
        <label for="first-name">First Name</label>
        <input type="text" name="first-name" placeholder="First Name">
        <label for="last-name">Last Name</label>
        <input type="text" name="last-name" placeholder="Last Name">
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="Email">
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Password">
        <label for="confirm-password">Confirm Password</label>
        <input type="password" name="confirm-password" placeholder="Confirm Password">
        <button>Register</button>
    </form>
</body>
</html>